@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "reset";

// Breakpoints 

$shaker: new-breakpoint(max-width 480px 1); // Use 2 columns on small screens
$rattler: new-breakpoint(min-width 481px max-width 991px 6); // Use 4 columns on middle sized screens
$roller: new-breakpoint(min-width 992px 12); // Use 8 columns on big screens


a {
  color: $orange-l;
  text-decoration: none;
  transition: all ease 0.2s;
  &:hover {
    color: darken($orange-l, 10%);
  }
}

// Inputs

#{$all-text-inputs} {
  border: 0;
  background: $gray-l;
}

#{$all-text-inputs-hover} { // Target the :hover pseudo-class
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#{$all-text-inputs-focus} { // Target the :focus pseudo-class
  background: #ccc;
}

div[class*='-container'], nav[class*='-container'] {
  @include outer-container;
    @include media($rattler) {
    @include pad();
  }
  @include media($shaker) {
    @include pad();
  }
}

.header-container {
  @include outer-container;
}

h1.logo a {
  @include hide-text;
  background-image: url(../images/logo-small.png);
  background-repeat: no-repeat;
  @include span-columns(3);
  height: 90px;
}

.quick-access {
  @include span-columns(9);
  @include omega();
}

ul.links {
  float: right;
  li {
    display: inline;
  }
  a {
    padding: 10px 20px;
    background: $gray-m;
    -webkit-box-shadow: 1px 1px 0px rgba(155,155,155,0.7);
    -moz-box-shadow: 1px 1px 0px rgba(155,155,155,0.7);
    box-shadow: 1px 1px 0px rgba(155,155,155,0.7);
    &:hover {
      background: $gray-l;
    }
  }
}

.searchBar {
  @include span-columns(10);
  @include shift(1);
}

.form-search {
  label, input {
    background: $gray-l;
    padding: 5px 10px;
  }
}
// Navigation New

.nav-container {  

}


#nav {
  a { 
    padding: 10px 20px; 
    background: $gray-l; 
    color: $orange-l;
    &:hover {
      background: $gray-m;
    }
  }
  ul li, li.active {
    display: block;
  }
  ul, div {             // 2nd Level
    background: $gray-l;
    position: absolute;
    top: 24px;
    left:-10000px;
    padding: 0;
  }
  ul a {
    padding: 10px 20px;
  }
  ul ul, ul div {
    top: -16px;
  }
  li .shown-sub ul.shown-sub, li .shown-sub li div.shown-sub {
    left: 118px;
  }
}


// Navigation old styles

/********** Navigation */

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { position:relative; text-align:left; display: inline-block;}
#nav li.over { z-index:998; }
#nav a,
#nav a:hover { display:block; line-height:1.3em; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span {white-space:normal; }
#nav ul li.parent a {  }
#nav ul li.parent li a { background-image:none; }

/* 0 Level */
#nav li { }
#nav li.active a { color:#d96708; }
#nav li.over a,
#nav a:hover { color:#d96708; }

/* 1st Level */

#nav ul li.last {  padding-bottom:0; }


/* 2nd Level */

#nav div ul { position:static; width:auto; border:none; }

/* 3rd+ Level */
#nav ul ul,

#nav ul li a {  }
#nav ul li a:hover {  }
#nav ul li a,
#nav ul li a:hover {  }
#nav ul span,
#nav ul li.last li span {  }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }








































































