@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "reset";

// Breakpoints 

$shaker: new-breakpoint(max-width 480px 1); // Use 2 columns on small screens
$rattler: new-breakpoint(min-width 481px max-width 991px 6); // Use 4 columns on middle sized screens
$roller: new-breakpoint(min-width 992px 12); // Use 8 columns on big screens


a {
  color: $orange-l;
  text-decoration: none;
  transition: all ease 0.2s;
  &:hover {
    color: darken($orange-l, 10%);
  }
}



.page {
  @include outer-container;
  @include media($rattler) {
    @include pad();
  }
  @include media($shaker) {
    @include pad();
  }
}

.header-container {
  @include span-columns(12);
}

h1.logo {
  @include hide-text;
  background-image: url(../images/logo-small.png);
  background-repeat: no-repeat;
  @include span-columns(3);
  height: 90px;
}

.quick-access {
  @include span-columns(9);
  @include omega();
}

ul.links {
  float: right;
  li {
    display: inline;
  }
  a {
    padding: 10px 20px;
    background: $gray-m;
    -webkit-box-shadow: 1px 1px 0px rgba(155,155,155,0.7);
    -moz-box-shadow: 1px 1px 0px rgba(155,155,155,0.7);
    box-shadow: 1px 1px 0px rgba(155,155,155,0.7);
    &:hover {
      background: $gray-l;
    }
  }
}